<!DOCTYPE html>
<html>
	<head>
		<%- include('head') %>
	</head>

	<body>
		<%- include('audio') %>
		<%- include('links') %>
		<%- include('backgrounds') %>
		<%- include('analytics') %>
		<%- include('sidebars') %>
		<%- include('messages') %>
		<%- include('omar') %>
	</body>
</html>